html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-color: #555555;
  --secondary-color: #303030;
  --hero-color: #9da4bd;
  --subtitle-color: rgba(157, 164, 189, 0.6);
  --title-color: #ffffff;
  --active-color: #782cc3;
  --background-barbers: #f7f7f7;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  width: 100%;
}
body {
  font-family: "Open sans", sans-serif;
  color: var(--primary-color);
  letter-spacing: 0.1em;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* скритий заголовок */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */

.header {
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: baseline;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    align-items: center;
  }
}

.logo {
  margin-right: 31px;
}

.logo-icon {
  fill: var(--title-color);
}
@media screen and (min-width: 768px) {
  .logo-icon {
    fill: var(--secondary-color);
  }
}

.header-nav {
  display: flex;
  align-items: center;
      margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .header-nav {
   margin-top: 0;
  }
}
.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 20.13px;
    margin-left: 19.5px;
  }
}

@media screen and (min-width: 1440px) {
  .nav-list {
    gap: 30px;
    margin-left: 100px;
  }
}

@media screen and (min-width: 768px) {
  .container-tel {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1440px) {
  .container-tel {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    color: var(--title-color);
    transition: color 250ms linear;
  }
}

.nav:hover,
.nav:focus {
  color: var(--active-color);
}

.tel {
  display: none;
}

@media screen and (min-width: 768px) {
  .tel {
    display: flex;
    /* display: block; */
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--title-color);
    transition: color 250ms linear;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .tel {
    margin-top: 0;
  }
}

.tel:hover,
.tel:focus {
  color: var(--active-color);
}

.button {
  min-width: 160px;
  height: 40px;
  text-align: center;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-color);
  border: 1px solid var(--active-color);
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 250ms linear;
}

.button:hover,
.button:focus {
  background-color: var(--active-color);
}

.btn-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn-header {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .btn-header {
    display: block;
    margin-left: 43px;
  }
}

/* menu */

.menu-open {
  display: block;
  border: none;
  background-color: transparent;
  fill: var(--title-color);
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu__close {
  display: block;
  border: none;
  background-color: transparent;
  fill: var(--secondary-color);
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.mob-menu {
  width: 70%;
  height: 100vh;
  margin-left: auto;
  background-color: var(--title-color);
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 31px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu > .mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.mob-menu__list {
  margin-bottom: 30px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
  transition: 250ms color linear;
}
.mob-menu__link:hover,
.mob-menu__link:focus {
  color: var(--active-color);
}

.menu-connect__tel {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}

@media screen and (min-width: 480px) {
  .menu-connect__tel {
    font-size: 18px;
  }
}

.btn-menu {
  display: block;
  margin-top: 24px;
}
@media screen and (min-width: 480px) {
  .btn-menu {
    width: 194px;
  }
}

.mob-soc__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-color);
}

@media screen and (min-width: 480px) {
  .mob-soc__link {
    font-size: 14px;
  }
}

.mob-soc__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-soc__list {
  padding-left: 80px;
  position: relative;
  margin-top: 64px;
}

@media screen and (min-width: 480px) {
  .mob-soc__list {
    padding-left: 100px;
  }
}

.mob-soc__list::before {
  position: absolute;
  left: 0;
  top: 9px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--secondary-color);
}

/* hero */

.hero-container {
  display: flex;
  padding: 0;
  max-width: 100%;
 
}

@media screen and (min-width: 768px) {
  .hero-container {
    /* padding-left: 15px;
    padding-right: 15px; */
    max-width: 768px;
    height: 455.33px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    max-width: 1440px;
    height: 371.33px;
  }
}

.hero-wrap {
  
      padding-top: 90px;
    padding-right: 20px;
    padding-left: 20px;
  height: 320px;
  background-color: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("./image/hero_mob.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./image/hero_mob.webp");
  }
}
@media screen and (min-width: 768px) {
  .hero-wrap {
    padding: 272px 100px 237px 100px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("./image/hero.webp");
        
        background-position: right center;
  }

  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./image/hero.webp");
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-wrap {
    padding: 272px 100px 208px 200px;
   
  }


}



.subtitle {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--title-color);
  margin-left: 80px;
  margin-bottom: 20px;
}

.subtitle::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
  top: 6px;
  left: -80px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-color);
  
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--hero-color);
  max-width: 320px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 18px;
    line-height: 1.67;
    max-width: 360px;
  }
}

.hero-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-color);
  transition: color 250ms linear;
}
.hero-social:hover,
.hero-social:focus {
  color: var(--active-color);
}

/* About */
.container-about {
  display: flex;
}

@media screen and (min-width: 768px) {
  .about-wrap {
    display: block;
    width: 492px;
  }
}

@media screen and (min-width: 1440px) {
  .about-wrap {
    display: flex;
    gap: 30px;
    width: 570px;
  }
}

.about-picture {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-picture {
    display: block;
  }

  .about-picture + .about-picture {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .about-picture + .about-picture {
    margin-top: 0;
  }
}

.container-text {
  max-width: 418px;
}

@media screen and (min-width: 768px) {
  .container-text {
    max-width: 330px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container-text {
    max-width: 470px;
  }
}

.subtitle-about {
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.subtitle-about::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--secondary-color);
  margin-right: 20px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  margin-bottom: 20px;
  width: 290px;
}
@media screen and (min-width: 480px) {
  .about-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  .about-title {
    width: 330px;
  }
}
@media screen and (min-width: 1440px) {
  .about-title {
    width: 470px;
    font-size: 42px;
    line-height: 1.17;
  }
}

.about-text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-text-second {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .about-text-second {
    margin-bottom: 42px;
  }
}
.btn-about {
  color: var(--secondary-color);
  transition: color 250ms linear;
}

.btn-about:hover,
.btn-about:focus {
  color: var(--title-color);
}

/* price */
.prices {
  max-width: 480px;
  height: 738px;
  margin: 0 auto;
  background-color: #111319;
  background-image: url("./image/prices-mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url("./image/prices-mob-2x.png");
  }
}

@media screen and (min-width: 768px) {
  .prices {
    max-width: 768px;
    height: 856px;
    background-image: url("./image/prices-tab.png");
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .prices {
      background-image: url("./image/prices-tab-2x.png");
    }
  }
}

@media screen and (min-width: 1440px) {
  .prices {
    max-width: 1600px;
    height: 692px;
    background-image: url("./image/prices-desk.png");
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .prices {
      background-image: url("./image/prices-desk-2x.png");
    }
  }
}
.prices-wrap {
  display: block;
  width: 100%;
  margin-bottom: 44px;
  background-image: linear-gradient(#171a24 0%, rgba(23, 26, 36, 0.2) 100%, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* @media screen and (min-width: 768px) {
  .prices-wrap {
    width: 703px;
    height: 444px;
  }
} */
@media screen and (min-width: 1440px) {
  .prices-wrap {
    display: flex;
    justify-content: space-between;
    background-image: none;
    padding: 0;
  }
}

.subtitle-prices {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-left: 80px;
  margin-bottom: 20px;
}

.subtitle-prices::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--subtitle-color);
  top: 6px;
  left: -80px;
}

.title-prices {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--title-color);
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .title-prices {
    font-size: 42px;
    line-height: 1.36;
    margin-right: 0;
  }
}

.prices-text {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}
@media screen and (min-width: 768px) {
  .prices-text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.list-prices + .list-prices {
  margin-top: 20px;
}

@media screen and (min-width: 1440px) {
  .list-prices {
    padding: 30px 20px;
    width: calc((100% - 30px) / 2);
  }
  .list-prices:nth-child(2n + 1) {
    background-image: linear-gradient(#171a24 0%, rgba(23, 26, 36, 0.2) 100%, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  .list-prices:nth-child(2n) {
    background-image: linear-gradient(#090b13 0%, rgba(9, 11, 19, 0.2) 100%, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }

  .list-prices + .list-prices {
    margin-top: 0;
  }
}

.item-prices {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: baseline;
}

.item-prices::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-text:last-child {
  order: 1;
}

.item-prices + .item-prices {
  margin-top: 20px;
}

.btn-prices {
  display: block;
  margin: 0 auto;
}

/* benefits */

.benefits-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1440px) {
  .benefits-container {
    padding-left: 100px;
  }
}

.benefits-list {
  width: 416px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    width: 450px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-list {
    width: 370px;
    margin-left: 0;
  }
}

.benefits-item {
  width: 193px;
  height: 133px;
  background-color: var(--background-barbers);
  padding: 20px 32px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 210px;
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .benefits-item {
    width: 170px;
    padding: 20px 24px;
    order: 1;
  }
}

.benefits-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
}

.digit {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  margin-bottom: 6px;
}

.digit::after {
  content: "+";
  color: var(--active-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  vertical-align: top;
  text-align: center;
}
.benefits-wrap {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .benefits-wrap {
    width: 449px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-wrap {
    max-width: 500px;
    margin-left: 130px;
    padding-top: 9px;
    margin-bottom: 0;
    order: 2;
  }
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-color);
}

.subtitle-benefits {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
  margin-left: 80px;
}

.subtitle-benefits::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--secondary-color);
  top: 6px;
  left: -80px;
}

.title-benefits {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .title-benefits {
    width: 450px;
  }
}

.benefits-text-second {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .benefits-text-second {
    width: 500px;
  }
}
/* barbers */
.barbers {
  background-color: var(--background-barbers);
  max-width: 1600px;
  margin: 0 auto;
}

.subtitle-barbers {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
  margin-left: 80px;
}

.subtitle-barbers::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--secondary-color);
  top: 6px;
  left: -80px;
}

.title-barbers {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  margin-bottom: 44px;
}

.title-barbers-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-top: 30px;
}

.barbers-text-item {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--active-color);
  margin-top: 8px;
  margin-bottom: 30px;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

.barbers-items {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .barbers-list {
    gap: 30px;
  }
  .barbers-items {
    width: calc((100% - 60px) / 3);
  }
}

.soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.soc-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--secondary-color);
  background-color: var(--title-color);
  transition: fill 250ms linear;
}

.soc-link:hover,
.soc-link:focus {
  fill: var(--active-color);
}
/* portfolio */

.subtitle-portfolio {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-left: 80px;
  margin-bottom: 44px;
}

.subtitle-portfolio::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--secondary-color);
  top: 6px;
  left: -80px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-items {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-items {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .portfolio-items {
    width: calc((100% - 90px) / 4);
  }
}

/* online and contacts*/

@media screen and (min-width: 1440px) {
  .contacts-wrap {
    background-color: #191c26;
    background-image: url("./image/contacts-desk.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc((100% / 2) - 15px) 100%;
    max-width: 1600px;
    margin: 0 auto;
  }


@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-wrap {
    background-image: url("./image/contacts-desk-2x.png");
  }
}
}

.contacts-wrap > .container {
  display: block;
}

@media screen and (min-width: 1440px) {
  .contacts-wrap > .container {
    display: flex;
    justify-content: space-between;
  }
}

/* online */
.online-contacts {
  display: block;
  background-color: #191c26;
  /* margin: 0 auto; */
  text-align: center;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 768px) {
  .online-contacts {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .online-contacts {
    padding-left: 0;
    padding-right: 0;
    width: calc((100% / 2) - 15px);
  }
}

.online-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-color);
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .online-title {
    text-align: left;
  }
}

.online-form {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .online-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .online-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.online-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  margin-bottom: 44px;
  padding-bottom: 8px;
  color: #ffffff;
  transition: border-color 250ms linear;
}

.online-input {
  width: 100%;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .online-input {
    width: 330px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .online-input {
    width: 270px;
    height: 24px;
  }
}

.online-item:focus {
  border-color: var(--title-color);
}

.online-item::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms linear;
}

.online-item:focus::placeholder {
  color: var(--title-color);
}

.online-textarea {
  width: 100%;
  height: 76px;
  resize: none;
}

/* contacts */

.contacts-address {
  display: block;
  background-color: #191c26;
  background-image: url("./image/contacts-mob.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-address {
    background-image: url("./image/contacts-mob-2x.png");
  }
}

@media screen and (min-width: 768px) {
  .contacts-address {
    background-image: url("./image/contacts-tab.png");
    max-width: 768px;
    padding-left: 39px;
    padding-right: 120px;
  }


@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-address {
    background-image: url("./image/contacts-tab-2x.png");
  }
}
}

@media screen and (min-width: 1440px) {
  .contacts-address {
    width: calc((100% / 2) - 15px);
     

    /* padding-left: 100px; */
  }
}
.contacts-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-color);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts-title {
    text-align: left;
  }
}

.address {
  font-weight: 400;
  margin-bottom: 60px;
}

.link-map {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}
@media screen and (min-width: 768px) {
  .link-map {
    width: 240px;
  }
}

.contacts-items {
  margin-top: 20px;
}

.link-tel {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;
  color: var(--hero-color);
}

.link-mail {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--hero-color);
  text-decoration-line: underline;
}

.subtitle-contacts {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
  margin-left: 80px;
}

.subtitle-contacts::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
  top: 6px;
  left: -80px;
}

.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}

.icon {
  fill: currentColor;
  margin-right: 20px;
}

.address-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* footer */

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--hero-color);
}

.copyright {
  margin-right: 6px;
}

.footer-list {
  display: flex;
  margin-left: auto;
  margin-bottom: 20px;
}

.footer-soc {
  display: inline-flex;
  align-items: center;
}

.footer-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-color);
  transition: color 250ms linear;
  margin-left: 40px;
}
.footer-soc:first-child::before {
  content: "";

  width: 60px;
  height: 1px;
  background-color: var(--secondary-color);
  margin-top: 10px;
}

.footer-social:hover,
.footer-social:focus {
  color: var(--active-color);
}
